---
AccessModifierOffset: -4
IndentWidth: 4
NamespaceIndentation: None
UseTab: Never
BreakBeforeBraces: Custom
SpaceBeforeParens: Never
BraceWrapping:
  AfterFunction: true
AllowShortFunctionsOnASingleLine: None
Language: Cpp
